<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<!-- Scan for Jersey Rest Annotations and Spring Annotations -->
	<context:component-scan base-package="com" />
	<context:annotation-config />
	<tx:annotation-driven />

	<!-- Importing Core Beans -->
	<import resource="spring/beans/core-hibernate-connection.xml" />
	<import resource="spring/beans/core-repository.xml" />
	<import resource="spring/beans/core-services.xml" />
	<import resource="spring/beans/core-daos.xml" />
	<import resource="spring/beans/core-misc.xml" />

	<!-- Importing Web Services -->
	<import resource="spring/webservices/web-services.xml" />
</beans>


